.mainCont {
  max-width: 1440px;
  width: 100%;
  height: 4174px;
  margin: 0 auto;
}
.sect1 {
  width: 100%;
  height: 19.2%;
  background-image: url("./photo/foni1.png");
  background-position: center;
  background-size: cover;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 85px;
}
header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 56px;
  margin: 35px auto;
}
.divheader {
  display: flex;
  justify-content: center;
  gap: 500px;
  align-items: center;
  align-content: center;
}
.contact {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  color: #2f65a3;
  background-color: #ffffff;
  border-radius: 28px;
  border: none;
}
.logo {
  width: 170px;
  height: 33px;
}
ul {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #ffffff;
  display: flex;
  gap: 50px;
}
.isari {
  width: 30px;
  height: 105px;
}
h1 {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-align: center;
  letter-spacing: 8.75px;
  text-transform: uppercase;
  color: #ffffff;
}
.sect2left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 40px;
  background-color: #f2f2f2;
}

.kvercxi {
  width: 50%;
  height: 100%;
}

.sect2 {
  display: flex;
  width: 100%;
  height: 14.4%;
}
h2 {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.285714px;
  color: #24303e;
}
p {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.128571px;
  color: #808397;
  width: 70%;
  text-align: center;
}
h3 {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24303e;
}
.line {
  background: #fad400;
  mix-blend-mode: normal;
  opacity: 0.25;
  border-radius: 28px;
  width: 137px;
  height: 10px;
  margin-top: -10px;
}
.divlearn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.divsect2text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.sect3 {
  display: flex;
  width: 100%;
  height: 14.4%;
}
.sect3right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 40px;
  background-color: #f2f2f2;
}
.chiqa {
  width: 50%;
  height: 100%;
}
.sect4 {
  display: flex;
  width: 100%;
  height: 14.4%;
}
.bali {
  width: 50%;
  height: 100%;
  background-image: url("./photo/bali.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: center;
  align-items: center;
}
.mandarini {
  width: 50%;
  height: 100%;
  background-image: url("./photo/mandarini.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: center;
  align-items: center;
}
h4 {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #24554a;
}
h5 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.114286px;
  color: #3e7467;
}
.inbali {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.inmandarini {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sect5 {
  width: 100%;
  height: 18.6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  background-color: #f2f2f2;
}
h6 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 5px;
  color: #a7aaad;
}
.divcards {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.cardimg {
  width: 72px;
  height: 72px;
}
.card {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 58px;
  width: 25%;
}
.cardtext {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #a7aaad;
}
